*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gradle/
local.properties
gradle.properties
app/release/
.idea/deploymentTargetDropDown.xml
.idea/.name
.idea/deploymentTargetSelector.xml
.idea/migrations.xml
modified:   .idea/gradle.xml
gradle/wrapper/gradle-wrapper.properties
specification.txt
